html {
  scroll-behavior: smooth;
}

.containerApp {
  display: flex;
  flex-direction: column;
}

.containerHead {
  display: flex;
  flex-direction: column;
}
.containerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navLeft {
  display: flex;
  justify-content: flex-start;
}

.navLogoContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: auto;
}

.navLogo {
  font-size: 45px;
  height: 1em;
  width: 1em;
  padding: 18px;
}

.searchB {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: flex-start;
}

.searchInputFieldB {
  font-size: 16px !important;
  font-weight: bold !important;
  outline: none;
  border: none;
  width: 100%;
}

.spyglassSearchContainerB {
  display: flex;
  align-items: center;
}

.spyglassSearchB {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
  border: 0.75px solid #EBEBEB;
  position: relative;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 60%;
  width: 450px;
  -webkit-transition-property: width; /* Safari */
  -webkit-transition-duration: .5s; /* Safari */
  transition-property: width;
  transition-duration: .5s;
}

.spyglassSearchB:focus-within {
  width: 550px;
}

.spyglassB {
  margin-left: 8px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
}

.material-icons {
  height: 1em;
  width: 1em;
  font-size: 18px;
}

.navButtons {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.navButtonList {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 100%;
}

.navButtonDiv {
  display: flex;
  align-items: center;
  margin-left: 18px;
  margin-right: 18px;
  padding-top: 18px;
  padding-bottom: 14px;
  color: #484848;
  background-color: transparent;
  border-bottom: 2px solid transparent;
}

.navButtonDiv:hover {
  border-bottom: 2px solid #8b8a8a; 
  cursor: pointer;
}

.navButton {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  border: none;
  background-color: none;
  pointer-events: none;
  height: 95%;
}

.navButton:hover {
  text-decoration: none;
}

.navProfile {
  font-size: 45px;
  height: 1em;
  width: 1em;
}

@media screen and (max-width: 1028px) {
  .navButtons {
      display: none !important;
  }
}

.containerBody {
  max-width: 1200px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
  border: 1px solid yellow;
  position: relative;
}

.containerFoot {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding-left: 24px;
  padding-right: 24px;
}

.bodyLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyRight {
  display: flex;
  justify-content: center;
  border: 1px dotted red;
}

.containerDescription {
  width: 642px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.containerBooking {
  width: 436px;
  /* border: 1px solid red; */
  height: calc(100% - 500px);
}

#rootBooking {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  bottom: 200px;
  /* bottom: 4rem; */
}

.containerFoot {
  border: 5px solid purple;
}

.morePlacesToStay {
  margin-top: 16px;
  margin-bottom: 80px;
}

.thingsToDoNearby {
  margin-top: 80px;
  margin-bottom: 16px;
}

#description {
  width:550px;
  height: auto;
}

#neighborhood {
  width:550px;
  height: auto;
}

#thingsToKeepInMind {
  width:550px;
  height: auto;
}

/* GALLERY MODULE */
#style__galleryBigImage___HTRYl {
  height: 418px;
  overflow: hidden;
  flex: 1 1 auto;
  border-top: .5px solid #484848;
  border-bottom: .5px solid #484848;
}
.style__galleryContainer1___25jQ9 {
  border-left: 1px solid #484848;
  border-collapse: collapse;
}


.style__galleryContainer3___26UHC {
  border-left: 1px solid #484848;
  border-collapse: collapse;
}

#style__galleryImage___6P_QQ0 {
  border: none;
  overflow: hidden;
}

/* DESCRIPTION MODULE */
#description .main .summary {
  height: 135px;
}

#description {
  width: 100%;
  display: flex;
  justify-content: center;
}