.containerApp {
  display: flex;
  flex-direction: column;
}

.containerBody {
  max-width: 1080px;
  margin-top: 32px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
}

.containerFoot {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding-left: 24px;
  padding-right: 24px;
}

.bodyLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerDescription {
  max-width: 594px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.containerBooking {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
}

.morePlacesToStay {
  margin-top: 16px;
  margin-bottom: 80px;
}

.thingsToDoNearby {
  margin-top: 80px;
  margin-bottom: 16px;
}

#description {
  width:550px;
  height: auto;
}

#neighborhood {
  width:550px;
  height: auto;
}

#thingsToKeepInMind {
  width:550px;
  height: auto;
}