html {
  scroll-behavior: smooth;
}

.containerApp {
  display: flex;
  flex-direction: column;
}

.containerHead {
  display: flex;
  flex-direction: column;
  border: 3px solid green;
}
.containerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  font-size: 45px;
  height: 1em;
  width: 1.1em;
  padding: 18px;
}

.navButtons {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.navButtonList {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 100%;
}

.navButtonDiv {
  display: flex;
  align-items: center;
  padding: 18px;
  color: #484848;
  background-color: transparent;
  border-bottom: 2px solid transparent;
}

.navButtonDiv:hover {
  border-bottom: 2px solid #8b8a8a; 
  cursor: pointer;
}

.navButton {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  border: none;
  background-color: none;
  pointer-events: none; 
}

.navButton:hover {
  text-decoration: none;
}

.navProfile {
  font-size: 45px;
  height: 1em;
  width: 1em;
}

@media screen and (max-width: 1028px) {
  .navButtons {
      display: none !important;
  }
}

.containerBody {
  max-width: 1200px;
  margin-top: 32px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
  border: 5px solid yellow;
  position: relative;
}

.containerFoot {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding-left: 24px;
  padding-right: 24px;
}

.bodyLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyRight {
  background-color: aqua;
  display: flex;
  justify-content: center;
}

.containerDescription {
  max-width: 594px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.containerBooking {
  width: 436px;
  border: 1px solid red;
  height: calc(100% - 500px);
}

#rootBooking {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  bottom: 200px;
  /* bottom: 4rem; */
}

.containerFoot {
  border: 5px solid purple;
}

.morePlacesToStay {
  margin-top: 16px;
  margin-bottom: 80px;
}

.thingsToDoNearby {
  margin-top: 80px;
  margin-bottom: 16px;
}

#description {
  width:550px;
  height: auto;
}

#neighborhood {
  width:550px;
  height: auto;
}

#thingsToKeepInMind {
  width:550px;
  height: auto;
}